<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Leave_Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        table{
            width: 50%;
        }
    </style>
</head>
<body>
<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <th>Id</th>
        <th>User Id</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Reason</th>
        <th>Status</th>
        <th>Last Update User</th>
        <th>Last Update Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="leave : ${leaves}">
        <td th:text="${leave.leaveId}">Id</td>
        <td th:text="${leave.userId}">Question</td>
        <td th:text="${leave.startDate}">Question</td>
        <td th:text="${leave.endDate}">Question</td>
        <td th:text="${leave.reason}">Question</td>
        <td th:text="${leave.status}">Question</td>
        <td th:text="${leave.lastUpdateUser}">Last Update User</td>
        <td th:text="${leave.lastUpdateTime}">Last Update Time</td>

    </tr>
    </tbody>
</table>
<strong><a href="/index">Click here to go back</a></strong>
</body>
</html>