<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Leave_Manager</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <style>
          div
        {
            width: 70%;
            padding: 10px;
            margin: 0 auto;
        }

        .control-label{
        text-align: left;
        }



    </style>
</head>
<body>
<div class="container">
    <div class="card">
        <form action="/searchLeaveEntitlement" method="post" class="text-center border border-light p-5">
            <p class="h4 mb-4">Search Leave</p>

            <label for="designationId" class="sr-only">Designation Id</label>
            <input type="text" id="designationId" class="form-control mb-4" name="designationId"
                   placeholder="Designation Id( If search is based on Id)" autofocus>

            <button class="btn btn-primary bt-lg my-4" type="submit">Search Leave Entitlement</button>
        </form>
    </div>
</div>
<strong><a href="/index">Click here to go back</a></strong>
</body>
</html>