<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Leave_Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        table{
            width: 50%;
        }

    </style>
</head>
<body>
<table class="table table-bordered table-condensed">
    <thead>
    <tr>
        <th>User Id</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
        <th>Security Question Id</th>
        <th>Security Question Answer</th>
        <th>Designation Id</th>
        <th>Last Update User</th>
        <th>Last Update Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userL : ${users}">
        <td th:text="${userL.userId}"><input class="form-control" type="text" id="userId" name="userId" value="2" th:value="${userL.userId}">User Id</td>
        <td th:text="${userL.userName}">User Name</td>
        <td th:text="${userL.email}">Email</td>
        <td th:text="${userL.password}">Password</td>
        <td th:text="${userL.role}">Role</td>
        <td th:text="${userL.securityQuestionId}">Security Question Id</td>
        <td th:text="${userL.securityQuestionAnswer}">Security Question Answer</td>
        <td th:text="${userL.designationId}">Designation Id</td>
        <td th:text="${userL.lastUpdateUser}">Last Update User</td>
        <td th:text="${userL.lastUpdateTime}">Last Update Time</td>
        <td><form action="/updateUserForm" method="post"><button class="btn btn-sm" type="submit">Update</td>
    </tr>
    </tbody>
</table>
<strong><a href="/index">Click here to go back</a></strong>
</body>
</html>